<ion-view view-title="Admin">
  <ion-content>
    <ion-list>
    	<ion-item href="/add-category" class="item-icon-right">
		    Agregar categoria
		    <i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item href="/add-subcategory" class="item-icon-right">
		    Agregar sub-categoria
		    <i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item href="/add-ingredient" class="item-icon-right">
		    Agregar ingrediente
		    <i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item href="/add-measure" class="item-icon-right">
		    Agregar medida
		    <i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item href="/add-difficulty" class="item-icon-right">
		    Agregar dificultad
		    <i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item href="/add-recipe" class="item-icon-right">
		    Agregar receta
		    <i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
    </ion-list>
  </ion-content>
</ion-view>